name: SQL Linting

on: [pull_request]

jobs:
  lint-models:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v4"

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v41
        with:
            files: models/**/*.sql

      - name: Install SQLFluff
        # Skip if there are no matching files in changed-files.
        if: steps.changed-files.outputs.any_changed == 'true'
        run: "pip install sqlfluff==3.0"
  
      - name: Lint models
        if: steps.changed-files.outputs.any_changed == 'true'
        run: sqlfluff lint $${{ steps.changed-files.outputs.all_changed_files }} --format github-annotation-native


#py -m sqlfluff lint models