name: SQL Linting

on: [pull_request]

jobs:
  lint-models:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v4"

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v41
        with:
            files: models/**/*.sql

      - name: Install SQLFluff & lint files
        # Only run this step if the 'changed-files' action found files
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          # 1. Install SQLFluff
          pip install sqlfluff==3.0
          pip install sqlfluff-templater-dbt
          # 2. Lint only the changed files.
          sqlfluff lint ${{ steps.changed-files.outputs.all_changed_files }} --format github-annotation-native


#py -m sqlfluff lint models